.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content a {
  color: var(--green-500);
  font-weight: bold;
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.content p {
  margin-top: 1rem;
}

.content header{ 

}

.post > header {
  display: flex;
  aling-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--green-400);
}

.avatar {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
 color: var(--gray-100);
 line-height: 1.6rem;

}

.authorInfo span {
  font-size:0.875rem;
  color: var(--green-300);
  line-height: 1.6rem;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-100);
}

.commentForm > strong {
  line-height: 1.6rem;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  color: var(--gray-100);
  resize: none;
  height: 6rem;
  paddind: 1rem;
  line-height: 1.4rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit]  {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.commentForm button[type=submit]:hover {
  background: var(--green-300);
}

.commentList {
  margin-top: 2rem;
}